/*! GENERAL SETTINGS  */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.nav-link.active {
  font-weight: bold;
  color: #FFC107 !important;
}

/*! GENERAL SETTINGS END  */

.header-top {
  flex-wrap: wrap;
}
.logom {
  width: 350px;
}
.odul1 {
  width: 100px;
}
.world-img {
  width: 175px;
}
.footer-img {
  width: 170px;
}
.footer-ul li {
  padding: 5px;
}
.sale {
  width: 544px;
}
.sale2 {
  width: 700px;
}
.border {
  margin-top: 65px;
}
.textarea {
  resize: none;
  width: 100%;
}
.input-subject {
  width: 100%;
}
.input {
  width: 100%;
}
.cont {
  margin-top: 500px;
}
.banner {
  height: 216px;
}
.login-container {
  margin-top: 200px;
  margin-bottom: 200px;
}
.card-body i {
  pointer-events: none;
}
.delete-cart {
  cursor: pointer;
}
.zip-code-input {
  width: 100%;
  height: 26px;
}
.form-control {
  font-size: 12px !important;
}
.card-img-top {
  cursor: pointer;
}
.color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  cursor: pointer;
}
.color:hover {
  border: 1px solid #FFC107;
}
.detail-p {
  text-align: justify;
}
.size-select:hover {
  background-color: #FFC107;
  cursor: pointer;
}

/* CARTS */

#cart-container table {
  width: 100%;
  table-layout: fixed;
}
.cart-count {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  font-size: 13px;
}
/* CARTS END */

@media screen and (max-width: 1196px) {
  .header-middle-right {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    font-size: 18px;
  }
  .sale2 {
    width: 550px;
    height: 389px;
  }
  .banner {
    height: 150px;
  }
}
@media screen and (max-width: 991px) {
  .sale {
    width: 400px;
  }
  .sale2 {
    width: 350px;
    height: 200px;
    align-self: center;
  }
  .logom {
    width: 250px;
  }
  .slider-left {
    margin-bottom: 20px;
  }
  .banner {
    height: 110px;
  }
}
@media screen and (max-width: 767px) {
  .sale {
    width: 300px;
    height: 200px;
    align-self: center;
    margin-top: 40px;
  }
  .sale2 {
    margin-top: 50px;
  }
  .footer-ul {
    text-align: center;
    font-size: 18px;
  }
  .banner {
    height: 85px;
  }
}

@media screen and (max-width: 585px) {
  .header-middle-left {
    flex-wrap: wrap;
  }
  .header-top span {
    margin: auto;
    padding: 10px;
    flex-wrap: wrap;
  }

  .header-top .social-media a {
    margin-inline: 25px;
    font-size: 28px;
  }
  .social-media2 {
    font-size: 28px;
  }
  .dollar a {
    font-size: 24px;
  }
  .header-middle-right {
    flex-wrap: wrap;
    font-size: 32px;
    display: flex;
    justify-content: start;
  }
  .header-middle-right a {
    padding: 20px;
    text-align: center;
    margin: auto;
    font-size: larger;
  }
  .mail {
    display: block;
    margin-top: 10px;
  }
  .banner {
    height: 200px;
  }
  .basket {
    width: 100%;
  }
  .wishlist {
    width: 100%;
  }
  .cart-count {
    width: 50px;
    height: 50px;
    font-size: 22px;
    margin-inline: 40px !important;
  }
}
@media screen and (max-width: 390px) {
  .slider-left {
    flex-direction: column;
  }
  .slider-left h5,
  .slider-left p {
    margin-left: 75px;
  }
  .slider-left button {
    margin-left: 125px;
    padding-inline: 35px;
    font-size: 22px;
  }
  .header-middle-right {
    font-size: 32px;
  }
}
