{% load static %}

<!--! FOOTER START  -->
<div class="container-fluid mt-5">
    <div class="row p-5 text-bg-light">
      <div class="col-lg-2 col-md-12 mb-5">
        <img src="{% static 'img/logom4.png' %}" alt="logom4" class="footer-img d-block mx-auto">
      </div>
      <div class="col-lg-2 col-md-3">
        <img
          src="{% static 'img/odul1.png' %}"
          alt="odul1"
          class="odul1 d-block mx-auto border rounded-2"
        >
        <p class="text-center mt-2">Golden Spider Award</p>
      </div>
      <div class="col-lg-2 col-md-3">
        <img
          src="{% static 'img/odul2.png' %}"
          alt="odul2"
          class="odul1 d-block mx-auto border rounded-2"
        >
        <p class="text-center mt-2">Owl Trade Award</p>
      </div>
      <div class="col-lg-2 col-md-3">
        <img
          src="{% static 'img/odul3.png' %}"
          alt="odul3"
          class="odul1 d-block mx-auto border rounded-2"
        >
        <p class="text-center mt-1">15. National Commercial Award</p>
      </div>
      <div class="col-lg-2 col-md-3">
        <img
          src="{% static 'img/odul4.png' %}"
          alt="odul4"
          class="odul1 d-block mx-auto border rounded-2"
        >
        <p class="text-center mt-1">E-Commerce Award</p>
      </div>
      <div class="col-lg-2 col-md-12 mt-4">
        <img src="{% static 'img/world.png' %}" alt="world" class="world-img d-block mx-auto">
        <p class="text-center mt-1">Virginia Beach, VA</p>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-2 col-md-3">
          <ul class="footer-ul">
            <li>
              <a class="text-reset text-decoration-none" href="">
                <b class="text-black">SERVICE</b>
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Online Help
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Contact Us
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Order Status
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Change Location
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href=""> FAQ's </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3">
          <ul class="footer-ul">
            <li>
              <a class="text-reset text-decoration-none" href="">
                <b class="text-black">QUOCK SHOP</b>
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href=""> T-Shirt </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href=""> Mens </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href=""> Womens </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Gift Cards
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href=""> Shoes </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3">
          <ul class="footer-ul">
            <li>
              <a class="text-reset text-decoration-none" href="">
                <b class="text-black">POLICIES</b>
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Terms of Use
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Privecy Policy
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Refund Policy
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Billing System
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Ticket System
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3">
          <ul class="footer-ul">
            <li>
              <a class="text-reset text-decoration-none" href="">
                <b class="text-black">SHOPPER</b>
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Company Information
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href=""> Careers </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Store Location
              </a>
            </li>
            <li>
              <a class="text-reset text-decoration-none" href="">
                Copyrigth
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <ul>
            <li class="mb-3 mt-5">ABOUT SHOPPER !</li>
            <li>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your email address..."
                  aria-label="Recipient's username"
                  aria-describedby="button-addon2"
                >
                <button
                  class="btn btn-warning"
                  type="button"
                  id="button-addon2"
                >
                  Submit
                </button>
              </div>
            </li>
            <li class="text-body">
              Get the most recent updates from our site and be updated your
              self..
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-bg-dark p-2 d-flex justify-content-between px-5">
    <div>
      <h6>Copyright 2023 ALLPINGENN Inc. All right reserved.</h6>
    </div>
    <div>
      <h6>Designed by allpingenn</h6>
    </div>
  </div>
  <!--! FOOTER END  -->