{% load static %}
    <!--! HEADER START  -->
    <!-- HEADER TOP -->
    <div
      class="container-fluid text-bg-warning p-2 d-flex justify-content-between header-top"
    >
      <!-- Header Top Left -->
      <span class="social-media2">
        <a href="#" class="text-black text-decoration-none px-4"
          ><i class="bi bi-telephone-fill"></i>
          +444 44 44
        </a>
        <a href="#" class="text-black text-decoration-none px-2 mail">
          <i class="bi bi-envelope-fill"></i>
          info@domain.com
        </a>
      </span>
      <!-- Header Top Right -->
      <span class="px-4 social-media">
        <a href="#" class="text-black text-decoration-none px-2"
          ><i class="bi bi-facebook"></i
        ></a>
        <a href="#" class="text-black text-decoration-none px-2"
          ><i class="bi bi-twitter"></i
        ></a>
        <a href="#" class="text-black text-decoration-none px-2"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a href="#" class="text-black text-decoration-none px-2"
          ><i class="bi bi-youtube"></i
        ></a>
        <a href="#" class="text-black text-decoration-none px-2"
          ><i class="bi bi-google"></i
        ></a>
      </span>
    </div>
    <!-- HEADER TOP END  -->

    <!-- HEADER MIDDLE START -->
    <div class="container-fluid d-flex justify-content-between header-top">
      <!-- Header Middle Left -->
      <span class="d-flex header-middle-left justify-content-center">
        <a href="{% url 'index' %}"
          ><img src="{% static 'img/logom3.png'%}" alt="logom" class="logom mt-4"
        ></a>
        <span class="d-flex dollar">
          <span class="nav-item dropdown px-3">
            <a
              class="nav-link dropdown-toggle border mt-5 p-2"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              USA
            </a>
            <span class="dropdown-menu">
              <span><a class="dropdown-item" href="#">Action</a></span>
              <span><a class="dropdown-item" href="#">Another action</a></span>
            </span>
          </span>
          <span class="nav-item dropdown px-3">
            <a
              class="nav-link dropdown-toggle border mt-5 p-2"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              DOLLAR
            </a>
            <span class="dropdown-menu">
              <span><a class="dropdown-item" href="#">Action</a></span>
              <span><a class="dropdown-item" href="#">Another action</a></span>
            </span>
          </span>
        </span>
      </span>
      <!-- Header Middle Right -->
      <span class="mt-5 mx-5 header-middle-right">
        {% if user.is_authenticated %}
        <a
          href="#"
          class="text-black text-decoration-none px-2 text-uppercase"
          ><i class="bi bi-person-fill px-2"></i>{{request.user}}</a
        >
        <a
          href="./pages/productions.html"
          class="text-black text-decoration-none px-2 wishlist"
          ><i class="bi bi-star px-2"></i>Wishlist</a
        >
        <a href="./pages/cart.html" class="text-black text-decoration-none px-2"
          ><i class="bi bi-life-preserver px-2"></i>Checkout</a
        >
        <a
          href="{% url 'cart' %}"
          class="text-black text-decoration-none px-2 basket"
          ><i class="bi bi-basket2-fill position-relative mx-2">
            <span
              class="position-absolute position-absolute rounded-circle bg-danger d-flex justify-content-center align-items-center text-white fw-bold cart-count"
              >{{cartItems}}</span
            > </i
          >Cart</a
        >
        <a
          href="{% url 'logout' %}"
          class="text-black text-decoration-none px-2"
          ><i class="bi bi-unlock-fill px-2"></i>Logout</a
        >
        {% else %}
        <a
          href="{% url 'login' %}"
          class="text-black text-decoration-none px-2"
          ><i class="bi bi-lock-fill px-2"></i>Login</a
        >
        <a
          href="{% url 'register' %}"
          class="text-black text-decoration-none px-2"
          ><i class="bi bi-person-fill px-2"></i>Signup</a
        >
        {% endif %}
      </span>
    </div>
    <!-- HEADER MIDDLE END  -->

    <!-- HEADER BOTTOM START -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-4">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Shop
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Blog
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
          <form class="d-flex" method="GET" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Men, Woman T-Shirt.."
              aria-label="Search"
              name="search"
              value="{{search}}"
            >
            <button class="btn btn btn-warning" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- HEADER BOTTOM END -->
    <!--! HEADER END  -->