{% extends 'index.html' %}
{% load static %}

{% block content %}
    <!--! CONTENT START  -->
    <!-- CART TABLE  -->
    <section class="container p-0 mt-5" id="cart-container">
      <table class="shop-table border w-100">
        <thead class="bg-warning">
          <tr>
            <th class="product-image py-2 col-md-2">&nbsp;</th>
            <th class="product-name py-2 col-md-2">Product</th>
            <th class="product-price py-2 col-md-2 text-center">Price</th>
            <th class="product-quantity py-2 col-2 text-center">Quantity</th>
            <th class="product-total py-2 col-md-2 text-center">Total</th>
            <th class="py-2 col-md-1"></th>
          </tr>
        </thead>
        <!-- PRODUCTIONS CART ADD -->
        <tbody class="cart-wrapper"></tbody>
      </table>

      <!-- CART CONTENT -->
      <h5 class="mt-4">What would you like to do next?</h5>
      <p>
        Choose if you have a discount code or reward points you want to use or
        would like to estimate your delivery cost.
      </p>
      <div class="row">
        <div class="col-sm-12 col-md-6 border p-5">
          <input type="checkbox">
          <label class="px-2 py-1">Use Coupon Code</label> <br>
          <input type="checkbox">
          <label class="px-2 py-1">Use Gift Voucher</label> <br>
          <input type="checkbox">
          <label class="px-2 py-1">Estimate Shipping & Taxes</label>
          <div class="row">
            <div class="col-xl-4 col-lg-6">
              <label class="mt-3">Country:</label> <br>
              <select class="px-3 bg-body-secondary">
                <option>United States</option>
                <option>Turkey</option>
              </select>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="mt-3">Region / State:</label> <br>
              <select class="px-4 bg-body-secondary">
                <option>Select</option>
                <option>Select</option>
              </select>
            </div>
            <div class="col-xl-4 col-lg-5">
              <label class="mt-3">Zip Code:</label> <br>
              <input type="text" class="zip-code-input">
            </div>
          </div>
          <button type="button" class="btn btn-warning mt-4">Get Quotes</button>
          <button type="button" class="btn btn-warning mt-4 mx-lg-4">
            Continue
          </button>
        </div>
        <div class="col-sm-12 col-md-6 border p-4">
          <div
            class="d-flex justify-content-between p-2 mb-2 bg-body-secondary flex-row"
          >
            <span>Cart Sub Total</span>
            <span><strong id="sub-total"></strong></span>
          </div>
          <div
            class="d-flex justify-content-between p-2 mb-2 bg-body-secondary"
          >
            <span>Eco Tax</span>
            <span><strong>$2</strong></span>
          </div>
          <div
            class="d-flex justify-content-between p-2 mb-2 bg-body-secondary"
          >
            <span>Shipping Cost</span>
            <span><strong>Free</strong></span>
          </div>
          <div
            class="d-flex justify-content-between p-2 mb-2 bg-body-secondary"
          >
            <span>Total</span>
            <span><strong id="cart-total"></strong></span>
          </div>
          <button type="button" class="btn btn-warning mt-4">Update</button>
          <button type="button" class="btn btn-warning mt-4 mx-lg-4 flex-row">
            Check Out
          </button>
        </div>
      </div>
    </section>
    {% endblock content %}
   