{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
      <div class="row d-flex justify-content-between">
        <div class="col-md-6 col-sm-12 col-12">
          <h4 class="text-center text-warning">GET IN TOUCH</h4>
          <hr>
          <div class="form">
            <div class="row">
              <div class="col-6">
                <input
                  type="text"
                  placeholder="Name"
                  class="p-2 rounded border m-0 input"
                >
              </div>
              <div class="col-6">
                <input
                  type="text"
                  placeholder="Email"
                  class="p-2 rounded border m-0 input"
                >
              </div>
              <div class="col-12 mt-3">
                <input
                  type="text"
                  placeholder="Subject"
                  class="p-2 rounded border m-0 input-subject"
                >
              </div>
              <div class="col-12">
                <textarea
                  name="gorus-box"
                  id="gorus-box"
                  cols="85"
                  rows="5"
                  class="border rounded m-0 mt-3 textarea"
                ></textarea>
                <button type="button" class="btn btn-warning float-end mt-3">Submit</button>
              </div>
              <div class="row">
                <div class="col">
                    <img src="{% static 'img/banner5.png' %}" alt="banner5" class="w-100 mt-5 mb-sm-5">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <h4 class="text-center text-warning">CONTACT INFO</h4>
          <hr>
          <p class="p-3">
            Allpingenn Inc. <br>
            935 W.Webster Ave New Streets Chicago, IL<br>
            60614, NY<br>
            Newyork USA<br>
            Mobile: +444 44 44<br>
            Fax: 1-714-234-0034<br>
            Email: info@domain.com<br>
          </p>
          <h4 class="text-center text-warning mb-3">SOCIAL NETWORKING</h4>
          <hr>
          <span class="px-5 social-media fs-4 d-block text-center">
            <a href="" class="text-black text-decoration-none px-2"
              ><i class="bi bi-facebook"></i
            ></a>
            <a href="" class="text-black text-decoration-none px-2"
              ><i class="bi bi-twitter"></i
            ></a>
            <a href="" class="text-black text-decoration-none px-2"
              ><i class="bi bi-linkedin"></i
            ></a>
            <a href="" class="text-black text-decoration-none px-2"
              ><i class="bi bi-youtube"></i
            ></a>
            <a href="" class="text-black text-decoration-none px-2"
              ><i class="bi bi-google"></i
            ></a>
          </span>
        </div>
      </div>
    </div>
    {% endblock content %}

    