<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping | Free Shipping</title>
    <!--! Favico  -->
    <link rel="shortcut icon" href="../img/logom1.png" type="image/x-icon">
    <!--! CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!--! BS CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!--! BS ICONS -->
    <link rel="stylesheet" href="../bootstrap-icons/font/bootstrap-icons.css">
  </head>
  <body>
    <!--! HEADER START  -->
    <!-- HEADER TOP -->
    <div
      class="container-fluid text-bg-warning p-2 d-flex justify-content-between header-top"
    >
      <!-- Header Top Left -->
      <span class="social-media2">
        <a href="#" class="text-black text-decoration-none px-4"
          ><i class="bi bi-telephone-fill"></i>
          +444 44 44
        </a>
        <a href="#" class="text-black text-decoration-none px-2 mail">
          <i class="bi bi-envelope-fill"></i>
          info@domain.com
        </a>
      </span>
      <!-- Header Top Right -->
      <span class="px-4 social-media">
        <a href="" class="text-black text-decoration-none px-2"
          ><i class="bi bi-facebook"></i
        ></a>
        <a href="" class="text-black text-decoration-none px-2"
          ><i class="bi bi-twitter"></i
        ></a>
        <a href="" class="text-black text-decoration-none px-2"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a href="" class="text-black text-decoration-none px-2"
          ><i class="bi bi-youtube"></i
        ></a>
        <a href="" class="text-black text-decoration-none px-2"
          ><i class="bi bi-google"></i
        ></a>
      </span>
    </div>
    <!-- HEADER TOP END  -->
    
    <!-- HEADER MIDDLE START -->
    <div class="container-fluid d-flex justify-content-between header-top">
      <span class="d-flex header-middle-left justify-content-center">
        <!-- Header Middle Left -->
        <a href="../index.html"
          ><img src="../img/logom3.png" alt="logom" class="logom mt-4"
        ></a>
        <span class="d-flex dollar">
          <span class="nav-item dropdown px-3">
            <a
              class="nav-link dropdown-toggle border mt-5 p-2"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              USA
            </a>
            <span class="dropdown-menu">
              <span><a class="dropdown-item" href="#">Action</a></span>
              <span><a class="dropdown-item" href="#">Another action</a></span>
            </span>
          </span>
          <span class="nav-item dropdown px-3">
            <a
              class="nav-link dropdown-toggle border mt-5 p-2"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              DOLLAR
            </a>
            <span class="dropdown-menu">
              <span><a class="dropdown-item" href="#">Action</a></span>
              <span><a class="dropdown-item" href="#">Another action</a></span>
            </span>
          </span>
        </span>
      </span>
      <!-- Header Middle Right -->
      <span class="mt-5 mx-5 header-middle-right">
        <a href="./login.html" class="text-black text-decoration-none px-2"
          ><i class="bi bi-person-fill px-2"></i>Account</a
        >
        <a
          href="./productions.html"
          class="text-black text-decoration-none px-2"
          ><i class="bi bi-star px-2"></i>Wishlist</a
        >
        <a href="./cart.html" class="text-black text-decoration-none px-2"
          ><i class="bi bi-life-preserver px-2"></i>Checkout</a
        >
        <a href="./cart.html" class="text-black text-decoration-none px-2 basket "
          ><i class="bi bi-basket2-fill position-relative mx-2">
            <span class=" position-absolute position-absolute rounded-circle bg-danger d-flex justify-content-center align-items-center text-white fw-bold cart-count">0</span>
          </i>Cart</a
        >
        <a href="./login.html" class="text-black text-decoration-none px-2"
          ><i class="bi bi-lock-fill px-2"></i>Login</a
        >
      </span>
    </div>
    <!-- HEADER MIDDLE END  -->
    <!-- HEADER BOTTOM START -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-4">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="../index.html"
                >Home</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Shop
              </a>
              <span class="dropdown-menu">
                <span><a class="dropdown-item" href="#">Action</a></span>
                <span><a class="dropdown-item" href="#">Another action</a></span>
              </span>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Blog
              </a>
              <span class="dropdown-menu">
                <span><a class="dropdown-item" href="#">Action</a></span>
                <span><a class="dropdown-item" href="#">Another action</a></span>
              </span>
            </li>
            <li class="nav-item">
              <a href="./contact.html" class="nav-link active">Contact</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Men, Woman T-Shirt.."
              aria-label="Search"
              disabled
            >
            <button class="btn btn btn-warning" type="submit" disabled>
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- HEADER BOTTOM END -->
    <!--! HEADER END  -->

    <div class="container mt-5">
      <div class="row d-flex justify-content-between">
        <div class="col-md-6 col-sm-12 col-12">
          <h4 class="text-center text-warning">GET IN TOUCH</h4>
          <hr>
          <div class="form">
            <div class="row">
              <div class="col-6">
                <input
                  type="text"
                  placeholder="Name"
                  class="p-2 rounded border m-0 input"
                >
              </div>
              <div class="col-6">
                <input
                  type="text"
                  placeholder="Email"
                  class="p-2 rounded border m-0 input"
                >
              </div>
              <div class="col-12 mt-3">
                <input
                  type="text"
                  placeholder="Subject"
                  class="p-2 rounded border m-0 input-subject"
                >
              </div>
              <div class="col-12">
                <textarea
                  name="gorus-box"
                  id="gorus-box"
                  cols="85"
                  rows="5"
                  class="border rounded m-0 mt-3 textarea"
                ></textarea>
                <button type="button" class="btn btn-warning float-end mt-3">Submit</button>
              </div>
              <div class="row">
                <div class="col">
                    <img src="../img/banner5.png" alt="banner5" class="w-100 mt-5 mb-sm-5">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <h4 class="text-center text-warning">CONTACT INFO</h4>
          <hr>
          <p class="p-3">
            Allpingenn Inc. <br>
            935 W.Webster Ave New Streets Chicago, IL<br>
            60614, NY<br>
            Newyork USA<br>
            Mobile: +444 44 44<br>
            Fax: 1-714-234-0034<br>
            Email: info@domain.com<br>
          </p>
          <h4 class="text-center text-warning mb-3">SOCIAL NETWORKING</h4>
          <hr>
          <span class="px-5 social-media fs-4 d-block text-center">
            <a href="" class="text-black text-decoration-none px-2"
              ><i class="bi bi-facebook"></i
            ></a>
            <a href="" class="text-black text-decoration-none px-2"
              ><i class="bi bi-twitter"></i
            ></a>
            <a href="" class="text-black text-decoration-none px-2"
              ><i class="bi bi-linkedin"></i
            ></a>
            <a href="" class="text-black text-decoration-none px-2"
              ><i class="bi bi-youtube"></i
            ></a>
            <a href="" class="text-black text-decoration-none px-2"
              ><i class="bi bi-google"></i
            ></a>
          </span>
        </div>
      </div>
    </div>

    <!--! FOOTER START  -->
    <div class="container-fluid mt-5">
      <div class="row p-5 text-bg-light">
        <div class="col-lg-2 col-md-12 mb-5">
          <img
            src="../img/logom4.png"
            alt="logom4"
            class="footer-img d-block mx-auto"
          >
        </div>
        <div class="col-lg-2 col-md-3">
          <img
            src="../img/odul1.png"
            alt="odul1"
            class="odul1 d-block mx-auto border rounded-2"
          >
          <p class="text-center mt-2">Golden Spider Award</p>
        </div>
        <div class="col-lg-2 col-md-3">
          <img
            src="../img/odul2.png"
            alt="odul2"
            class="odul1 d-block mx-auto border rounded-2"
          >
          <p class="text-center mt-2">Owl Trade Award</p>
        </div>
        <div class="col-lg-2 col-md-3">
          <img
            src="../img/odul3.png"
            alt="odul3"
            class="odul1 d-block mx-auto border rounded-2"
          >
          <p class="text-center mt-1">15. National Commercial Award</p>
        </div>
        <div class="col-lg-2 col-md-3">
          <img
            src="../img/odul4.png"
            alt="odul4"
            class="odul1 d-block mx-auto border rounded-2"
          >
          <p class="text-center mt-1">E-Commerce Award</p>
        </div>
        <div class="col-lg-2 col-md-12 mt-4">
          <img
            src="../img/world.png"
            alt="world"
            class="world-img d-block mx-auto"
          >
          <p class="text-center mt-1">Virginia Beach, VA</p>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-2 col-md-3">
            <ul class="footer-ul">
              <li>
                <a class="text-reset text-decoration-none" href="">
                  <b class="text-black">SERVICE</b>
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Online Help
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Contact Us
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Order Status
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Change Location
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href=""> FAQ's </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-3">
            <ul class="footer-ul">
              <li>
                <a class="text-reset text-decoration-none" href="">
                  <b class="text-black">QUOCK SHOP</b>
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href=""> T-Shirt </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href=""> Mens </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href=""> Womens</a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Gift Cards
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href=""> Shoes </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-3">
            <ul class="footer-ul">
              <li>
                <a class="text-reset text-decoration-none" href="">
                  <b class="text-black">POLICIES</b>
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Terms of Use
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Privecy Policy
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Refund Policy
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Billing System
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Ticket System
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-3">
            <ul class="footer-ul">
              <li>
                <a class="text-reset text-decoration-none" href="">
                  <b class="text-black">SHOPPER</b>
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Company Information
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href=""> Careers </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Store Location
                </a>
              </li>
              <li>
                <a class="text-reset text-decoration-none" href="">
                  Copyrigth
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <ul>
              <li class="mb-3 mt-5">ABOUT SHOPPER !</li>
              <li>
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your email address..."
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2"
                  >
                  <button
                    class="btn btn-warning"
                    type="button"
                    id="button-addon2"
                  >
                    Submit
                  </button>
                </div>
              </li>
              <li class="text-body">
                Get the most recent updates from our site and be updated your
                self..
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-bg-dark p-2 d-flex justify-content-between px-5">
      <div>
        <h6>Copyright 2023 ALLPINGENN Inc. All right reserved.</h6>
      </div>
      <div>
        <h6>Designed by allpingenn</h6>
      </div>
    </div>
    <!--! FOOTER END  -->
    <!--! BS JS -->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <!--! JS -->
    <script src="../js/main.js"></script>
  </body>
</html>
