{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping | Free Shipping</title>
    <!--! Favico  -->
    <link rel="shortcut icon" href="{% static 'img/logom1.png' %}" type="image/x-icon">
    <!--! CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--! BS CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--! BS ICONS -->
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
    <script>
      let user = '{{request.user}}'

      function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');
    </script>
  </head>
  <body id="indexPage">

    {% include "includes/_navbar.html" %}

    {% block content %}

    <!--! CONTENT START  -->
    <div class="container">
      <div class="row">
        <!-- SIDE BAR START  -->
        <div class="col-lg-2 col-md-3 mt-5">
          <h4 class="text-center text-warning">CATEGORY</h4>
          <hr>
          <div class="border">  
            <ul class="nav flex-column" id="parentM">
              {% for category in categories %}
              <li class="nav-item">
                <a class="nav-link text-black {% if category_name == category.name %}active{% endif %}" href="?category={{ category.name }}">{{ category.name }}</a>

              </li>
              {% endfor %}
            </ul>
          </div>
        
        <!-- SIDE BAR END -->

        <!-- ADVERT START-->
        <hr class="mt-5">
        <a href="#"
          ><img src="{% static 'img/free.png' %}" alt="free" class="w-100 free-shipping"
        ></a>
        <a href="">
          <video
            src="{% static 'img/free2.mp4' %}"
            autoplay
            muted
            loop
            class="w-100"
          ></video>
        </a>
      </div>
      <!-- ADVERT END -->

        <!-- PRODUCTIONS START  -->
        <div class="col-lg-10 col-md-9 mt-5 px-5">
          <div class="row">
            <h4 class="text-center text-warning mb-3">FEATURES ITEMS</h4>
            <hr>
            <div class="row" id="product-list">
              {% for product in products %}
              <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-center">
                  <a href="{% url 'product' product.id %}"><img src="{{product.image.url}}" class="card-img-top product-link"  alt="urun1"/></a>
                  <div class="card-body">
                    <h5 class="card-title">${{product.price}}</h5>
                    <p class="card-text">{{product.name}}</p>
                    <span class="d-flex justify-content-around">
                    <a href="#" class="btn btn-warning add-to-cart update-cart" data-product="{{product.id}}" data-action="add"
                    >
                      <i class="bi bi-basket2-fill"></i>
                      Add to Cart</a>
                      <a href="{% url 'product' product.id %}" class="btn btn-outline-warning view"><i class="bi bi-eye"></i>View</a>
                    </span>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- PRODUCTIONS END -->

      <!-- CAROUSEL START -->
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide mb-5 mt-5 bg-body-secondary rounded-4"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-around slider-left">
              <div class="w-25 text-center mt-5">
                <img src="{% static 'img/logom3.png' %}" class="logom" alt="logom">
                <h5 class="mt-3">100% Customer Satisfaction</h5>
                <p class="mt-3">Commerce Template</p>
                <button type="button" class="btn btn-warning mt-3">
                  Get now
                </button>
              </div>
              <img src="{% static 'img/sale.png' %}" class="sale" alt="sale">
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-around slider-left">
              <div class="w-25 text-center mt-5">
                <img src="{% static 'img/logom3.png' %}" class="logom" alt="logom">
                <h5 class="mt-3">100% Customer Satisfaction</h5>
                <p class="mt-3">Commerce Template</p>
                <button type="button" class="btn btn-warning mt-3">
                  Get now
                </button>
              </div>
              <img src="{% static 'img/sale2.png' %}" class="sale2" alt="sale2">
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!--! CONTENT END  -->

    {% endblock content %}
    
    {% include "includes/_footer.html" %}

    <!--! BS JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!--! CART JS -->
    <script src="{% static 'js/cart.js' %}">
    </script>
  </body>
</html>
