{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="container login-container">
        <div class="row">
            {% comment %} Login {% endcomment %}
            <div class="col-lg-5 col-md-12">
                <h5>Login to your account</h5>
                <form method="POST">
                  {% csrf_token %}
                    <label>Username:</label>
                    <input type="text" class="input form-control"name="username">
                    <label>Password:</label>
                    <input type="password" name="password" id="password" class="input form-control">
                    <button type="submit" class="btn btn-warning mt-4">Login</button>
                </form>
            </div>

            {% comment %} Flame {% endcomment %}
            <div class="col-lg-2 col-md-12 my-md-4 d-flex align-self-center justify-content-center">
                <i class="bi bi-signpost-split-fill fs-1 text-warning"></i>
            </div>

            {% comment %} Register {% endcomment %}
            <div class="col-lg-5 col-md-12">
                <h5>New User Signup!</h5>
                <form method="POST">
                  {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-warning mt-3">Signup</button>
                </form>
            </div>
            
        </div>
    </div>
    {% endblock content %}