{% extends 'index.html' %}
{% load static %}

{% block content %}
    <!--! CONTENT START  -->
    <div class="container">
      <div class="row">
        <!-- BANNER START  -->
        <div class="col-md-6 col-sm-6 col-12">
          <video
            src="{% static 'img/banner4.mp4' %}"
            autoplay
            muted
            loop
            class="w-100 mt-5"
          ></video>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
          <img src="{% static 'img/banner.png' %}" class="mt-5 w-100 banner" alt="banner">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-3 mt-5">
          <!-- ADVERT START-->
          <a href="#"
            ><img src="{% static 'img/free.png' %}" alt="free" class="w-100 free-shipping"
          ></a>
          <a href="">
            <video
              src="{% static 'img/free2.mp4' %}"
              autoplay
              muted
              loop
              class="w-100"
            ></video>
          </a>
        </div>
        <!-- ADVERT END -->
        
        <!-- PRODUCTIONS START  -->
        <div class="col-lg-10 col-md-9 mt-5 px-5">
          <div class="row">
            <h4 class="text-center text-warning mb-3">WISHLIST ITEMS</h4>
            <hr>
            <div class="row" id="product-list">
              {% for item in wishlist_items %}
              <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-center">
                  <a href="{% url 'product' item.product.id %}"><img src="{{item.product.image.url}}" class="card-img-top product-link"  alt="urun1"/></a>
                  <div class="card-body">
                    <h5 class="card-title">${{item.product.price}}</h5>
                    <p class="card-text">{{item.product.name}}</p>
                    <span class="d-flex justify-content-around">
                    <a href="#" class="btn btn-warning add-to-cart update-cart" data-product="{{item.product.id}}" data-action="add"
                    >
                      <i class="bi bi-basket2-fill"></i>
                      Add to Cart</a>
                      <a href="{% url 'product' item.product.id %}" class="btn btn-outline-warning view"><i class="bi bi-eye"></i>View</a>
                      <a href="#" class="btn btn-outline-warning "
                      data-delete-wishlist-product="{{item.product.id}}" data-action="add-to-wishlist"
                      ><i class="bi bi-trash-fill"></i></a>
                    </span>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PRODUCTIONS END -->
    <!--! CONTENT END  -->

    {% endblock content %}